{% extends getPartial('page-design') %}
{% block PageBody %}

 <div class="container-max page-content page-not-found">
	<div class="row">
		<div class="col-xs-12">
			<div class="jumbotron">
				<div class="row">
					<div class="col-md-6">
					  <h1 class="display-3">Ups, ein Fehler!</h1>
					  <p class="lead">Die Seite, die du aufgerufen hast, wurde nicht gefunden.</p>
					  <hr class="m-y-2">
					  <p class="lead">
					    <a class="btn btn-primary btn-lg" href="#" role="button"><i class="fa fa-home" aria-hidden="true"></i> Startseite</a>
					  </p>
				  </div>
				  <div class="col-md-6 text-md-right">
				  	<i class="fa fa-search fa-5x hidden-md-down" aria-hidden="true"></i>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}