body {
    background:url("https://unsplash.it/1200/1200?image=876") no-repeat center center fixed;
    background-size:cover;
}
.main{

}

.page-content{
    @extend .p-t-1;
    background-color: white; 
}


.container-max{
    @extend .container-fluid;
    max-width: 1200px;
    z-index: auto;
}


h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    font-family: $font-family-heading;
    text-transform: uppercase;
}


.rating{
    line-height: 1;

    .tag{
        padding-right: 0;
        overflow: hidden;
        cursor: pointer;

        .amount{
            padding: 0.1rem .6rem 0.1rem .4rem;
            margin-left: .2rem;
            background-color: $gray;
        }
    }
}




dt {
    font-weight: 400;
}

.border-left {
    border-left: 1px solid $gray-dark;
}


