
.main{

}

.page-content{
    @extend .p-t-1;
    background-color: white; 
    color: $gray-dark;
}

hr {
    border-top:1px solid $gray-lighter;
}

.container-max{
    @extend .container-fluid;
    max-width: 1200px;
    z-index: auto;
}

.modal {
    color: $gray-darker;
}



// .shariff .orientation-horizontal li{
//     min-width: 0;
//     max-width: none;
// }


.rating{
    line-height: 1;

    .tag{
        padding-right: 0;
        overflow: hidden;
        cursor: pointer;

        .amount{
            padding: 0.1rem .6rem 0.1rem .4rem;
            margin-left: .2rem;
            background-color: $gray;
        }
    }
}




dt {
    font-weight: 400;
}

.border-left {
    border-left: 1px solid $gray-dark;
}


