.category-menu {
	background:$gray-dark;
	padding-left:0;
	padding-right:0;
	ul {
		padding: 0;
		margin:0;
		li {
			list-style-type: none;

			a {
				display: block;
				border-bottom:1px solid $gray;
				padding: .75em 1em;
				color:$white;
				transition: all .2s ease;
			}
			&:last-child {
				a {
					border-bottom:0;
				}
			}
			&:hover {
				a {
					color:$white;
					background: $brand-primary;
					transition: all .2s ease;
					border-color:$brand-primary;
					text-decoration: none;
				}
			}
		}
	}
}
