{% extends 'PluginCeres::Homepage.Homepage' %}

{% block ThemeHomepage %}

<div class="home container-max">
    

    <div class="row">
        <div class="col-xs-12 text-xs-center" style="margin-bottom:50em;margin-top:5em;color:white;">
            <h1>Das ist ein Mega-Hipster Theme</h1>
            <h3>Weiter unten beginnt erst der Content</h3>
        </div>
    </div>
</div>
{% endblock %}