{% extends 'PluginCeres::Homepage.Homepage' %}

{% block ThemeHomepage %}

<div class="home container-max">


    <div class="row teaser">
        <div class="col-xs-12 text-xs-center">
            <i class="fa fa-grav fa-5x" aria-hidden="true"></i>
            <h1>Das ist ein Mega-Hipster Theme</h1>
            <h3>Weiter unten beginnt erst der Content</h3>
        </div>
    </div>
    <div class="row page-content">
        <div class="col-xs-12">
            <h1>Anderer Inhalt</h1>
        </div>
    </div>
</div>
{% endblock %}