
//== Colors
//
//## Gray and brand colors for use across Bootstrap.


$gray-darker:           #282d2f !default;
$gray-dark:             #4D4F4D !default;
$gray:                  #7a7f7f !default;
$gray-light:            #b2b1a7 !default;
$gray-lighter:          #dcdbd8 !default;
$gray-lighter2:         #f4f4f4 !default;
$gray-lightest:         #f7f7f9 !default;

$brand-primary:         red !default;
$brand-secondary:       #d4021d !default;

$brand-success:         #7ED321 !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$white:                 #fff;
$black:                 #000;

$custom-colors: (
  "gelb": "#ffff00",
) !default;

$top-bar-bg:            $gray-dark;
$top-bar-color:         #fff;
$top-bar-basket-btn:    $brand-primary;
$top-bar-basket-color:  #fff;

$footer-bg:             $gray-lightest;
$footer-color:          $gray-dark;

$footer-features-bg:    darken($gray-lightest, 10%);
$footer-features-color: $gray-dark;


$availability_1:        $brand-success !default;
$availability_2:        $brand-success !default;
$availability_3:        $brand-warning !default;
$availability_4:        $brand-warning !default;
$availability_5:        $brand-danger !default;