/* Vue 2.x */
/*
.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}
*/

/* Vue 1.x */
.menu-item-transition {
  transition: all 1s ease;
  overflow: hidden;
}
.menu-item-enter, .menu-item-leave {
  opacity: 0;
  transform: translateX(-30px);
}

#MobileNavigation {
	$highlight-color: #5c5edc;
	$breadcrumb-hover-color: #8182e0;
	$item-color: #bdbdbd;
	$border-space: 1em 1em 0 1em;

	background-color: #1c1d22;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	overflow-x: hidden;
	font-family: Arial;

	ul.menu {
		list-style-type: none;
		padding: $border-space;
		margin: 0;

		li.menu-item {
			padding: 0.6em 0;

			a {
				color: $item-color;
				text-decoration: none;

				&:hover {
					color: $highlight-color;
				}

				&.dots {
					float: right;
				}
			}
		}
	}

	.top-menu {
		clear: both;
		overflow: hidden;
		padding: $border-space;
	}

	ul.breadcrumb {
		overflow: hidden;
		float: left;
		padding: 0;
		margin: 0;

		li {
			float: left;
			display: block;
			padding: 0 1em;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				pointer-events: none;
				cursor: default;
				padding-right: 0;
			}

			a {
				color: $highlight-color;
				text-decoration: none;
				&:hover {
					color: $breadcrumb-hover-color;
				}
			}
		}
	}

	.button-close {
		float: right;
		text-decoration: none;
		color: #45464e;
	}
}