


.home {
    .teaser {
        margin-top: 13em;
        color:$brand-primary;
        h1 {
            font-size: 5em;
            margin-top: .5em;
        }
        h3 {
            font-size: 1.75em;
            margin-top: .5em;
        }
        i {
            font-size: 10em;
        }
    }
    .page-content {
        margin-top: 40vh;
    }
}


@include media-breakpoint-up(sm){        

}

@include media-breakpoint-up(md){        
    
}

@include media-breakpoint-up(lg){

}