.c-edge-l {
    position: absolute;
    display: block;
    width: 379px;
    height: 340px;
    background:url("../images/c-edge-l.png");
    top: 101px;
}
.c-edge-r {
    position: absolute;
    display: block;
    width: 340px;
    height: 379px;
    background:url("../images/c-edge-r.png");
    top: 0;
    transform:translateY(100%);
    right: 0;
}


.home {
    .teaser {
        margin-top: 13em;
        color:white;
        h1 {
            font-size: 5em;
            margin-top: .5em;
        }
        h3 {
            font-size: 1.75em;
            margin-top: .5em;
        }
        i {
            font-size: 10em;
        }
    }
    .page-content {
        margin-top: 40vh;
    }
}


.sale {
    text-align: center;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    display: block;
    background-color: red;
}

@include media-breakpoint-up(sm){        

}

@include media-breakpoint-up(md){        
    
}

@include media-breakpoint-up(lg){

}