//navigation scss

@include media-breakpoint-up(md){
	.wrapper-main {
		& > nav.container-max {
			padding-left:0;
			padding-right:0;
			position: absolute;
		    z-index: 1000;
		    display: block;
		    width: 100%;
		    max-width: 1200px;
		    left: 50%;
		    transform: translateX(-50%);
		    background:$breadcrumb-bg;
		    top:96px;
		}
		.breadcrumb{
			margin-bottom: 0;
			max-width: 1200px;
		    margin: 0 auto;
		    background: transparent;
		    padding: .5rem 15px;
		    a {
				color: $white;
				&:hover {
					color: $brand-primary;
				}
			}
		}
	}
	
}
@include media-breakpoint-up(lg){
	.wrapper-main {
		& > nav.container-max {
		    top:88px;
		}
	}
}