@include media-breakpoint-up(md){
	.wrapper-main {
		& > nav.container-max {
			padding-left:0;
			padding-right:0;
			position: absolute;
		    z-index: 1000;
		    display: block;
		    width: 100%;
		    max-width: 100%;
		    background:$breadcrumb-bg;
		    top:97px;
		}
		.breadcrumb{
			margin-bottom: 0;
			max-width: 1200px;
		    margin: 0 auto;
		    background: transparent;
		    padding: .5rem 0;

		    a {
		    	color:$gray-light;
		    	&:hover {
		    		color: $brand-primary;
		    	}
		    }
		}
	}
	
}
@include media-breakpoint-up(lg){
	.wrapper-main {
		& > nav.container-max {
		    top:95px;
		}
	}
}