
//header scss
.wrapper-main.isSticky.sticky {

}
.top-bar{
	position: fixed;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	
	z-index: $zIndex-6;
	color: $top-bar-color;
	background-color: $top-bar-bg;
	max-width: 1200px;
    margin: 0 auto;
	a{
		text-decoration: none;
		transition: all 300ms;
		color: $top-bar-color;
	}

	// ul containing all controls in the top bar:
	// - login/register
	// - search
	// - language settings
	// - basket preview toggle
	.controls-list{
		margin-bottom: 0;
		font-size: 0;
		width: 100%;
		display: flex;

		&>li{
			// default font size for all items
			font-size: 1rem;
			margin-right: 0;
			color: $top-bar-color;
			.pipe {
				border-left: 1px solid $top-bar-color;
			}
			// sets the height of the top-bar
			a{
				padding: 0.5rem .8rem;
				display: inline-block;
				color: $top-bar-color;

				&[aria-expanded="true"],
				&:hover{
					background-color: darken($top-bar-bg, 15%);
					color: $top-bar-color;
				}
			}

			// icons should be slightly larger
			.fa{
				font-size: 1.2rem;
			}
		}

		.control-user{
			flex: 1 0 auto;
			margin-left: 1rem;
			//login | register
			#login-change {
				position:relative;
				.dropdown-menu {
					z-index: 2000;
					a {
						padding:1rem .8rem;
						border:0;
						border-top: 1px solid $gray-lighter;
						display: block;
						color: $brand-primary;
						&:first-child {
							border-top:0;
						}
						&:hover {
							color: white;
						}
					}
				}
			}
			.account-menu {
				padding:0;
				margin:0;
			}
		}

		.control-languages{

		}

		.control-search{

			.dropdown-menu{
				width: 320px;
			    padding: 0;
			    border: none;
				position: absolute;
			}
		}

		.control-basket{
			.toggle-basket-preview{
				background-color: $top-bar-basket-btn;
				color: $top-bar-basket-color;

				.badge{
					margin-left: .5rem;
				}

				&:hover{
					background-color: $custom-orange;
				}
			}
		}
	}

	.country-settings{
		min-width: 200px;
		max-width: 320px;
		padding: 0;
		border: none;
		position:absolute;

		.disabled {
			background-color: $gray-lighter;
		    cursor: auto;

			strong {
				color: $gray-dark;
			}
		}

		a:hover {
			background-color: darken($brand-primary, 20%);
			color: $gray-lighter;
		    border: 1px solid darken($brand-primary, 20%);
		}
	}

	#shippingCountryList {
	}


}

.wrapper-main {
	.page-header .collapse.in {
		padding-top:117px;
	}
	#page-body {
		margin-top: 97px;
	}
	& > nav.container-max {
		padding-left:0;
		padding-right:0;
		position: absolute;
	    z-index: 1000;
	    display: block;
	    width: 100%;
	    left: 50%;
	    transform: translateX(-50%);
	    top: 7.8em;
	}
	& > .top-bar {
		.navbar{
			& > .container-max {
				padding-left:0;
				padding-right:0;
			}
			font-family:$font-family-heading;
			text-transform: uppercase;
			background-color: $navbar-background-color;
			border-bottom: 0;
			a {
				color: $brand-primary;
				font-size: 2.25em;
				&:hover {
					color: $white;
				}
			}
			.navbar-nav {
				.nav-item {
					& > .nav-link {
						min-width: 140px;
						border-right:1px solid rgba(255,255,255,.3);
						text-align: center;
					}
					&:last-child {
						.nav-link {
							border-right:0;
						}
					}
					.nav-link.dropdown-toggle::after {
						display: none;
					}
					&:hover {
						.nav-link {
							background: $brand-primary;
							color:$white;
							cursor: pointer;
							&.dropdown-toggle::after {
								display: none;
							}
						}
						.dropdown-menu {
							background:$white;
							border:0;
							border-left:1px solid $gray-lighter;
							border-right:1px solid $gray-lighter;
							border-bottom:1px solid $gray-lighter;
							&::before {
								display: inline-block;
							    width: 0;
							    height: 0;
							    content: "";
							    border-top: .5em solid;
							    border-right: .5em solid transparent;
							    border-left: .5em solid transparent;
							    color: $brand-primary;
							    position: absolute;
							    top: 0;
							    left: 50%;
							    transform: translateX(-50%);
							}
							.dropdown-item {
								color: $gray-darker;
								font-size: 1.5rem;
								padding: .75rem 1rem !important;
								&:hover {
									background:$brand-primary;
									color: white;
								}
							}
						}
					}
				}
			}
		}
		.breadcrumb {
			
		}
	}
}


//navigation scss

.navbar {
	padding:0;
	z-index: $zindex-navbar;
	background-color: $custom-blue;
	border-bottom: 1px solid $custom-pastelblue;

	max-width:1200px;
	margin:0 auto;

	.navbar {

		border-radius: 0;
		padding:0;
		z-index: $zindex-navbar;
		border-bottom: 1px solid $gray-lighter;

		.dropdown:hover .dropdown-menu {
			display: block !important;
			margin-top: 0;
		}
	}	
}

.brand-wrapper{
	position: relative;
}

.navbar-brand {

	float: none;
	padding: .5rem 1rem;
  	display: inline-block;

  	img {
    	max-height: 3rem;
  	}
}

.navbar-nav {

	.nav-item{
		margin: 0!important;
		
		&.open {
			position: relative;
		}

		&.active,
		&:hover {
			.nav-link {
				background-color: darken( $custom-blue, 10% );
				color: $navbar-dark-active-color;				
			}
		}
		.nav-link {
			padding: 1rem;
			color:$white;
			font-family: $font-family-serif;
			font-size: $font-size-h2;
		}
		.dropdown-menu {
			padding:0;
			margin:0;			
			.dropdown-item {
				font-family:$font-family-serif;
				font-size: $font-size-h3;
				&:hover {
					background-color: darken( $custom-blue, 10% );
					color:$white;
				}
			}
		}
	}
}

.navbar-toggler {
	position: absolute;
	top: 50%;
	right: 1rem;
	transform: translate(0, -50%);
}

.breadcrumb {
	background-color: $custom-orange!important;
	padding: 0rem 1rem;
	.breadcrumb-item {
		padding-top: 12px;
		font-family:$font-family-serif;
		font-size: 1.5rem;
		&::before {
			color: $white;
		}
		a {
			color:$white;
		}
		&.active {
			font-size: 2.25rem;
			color:$white;
			padding-top:0;			
		}
	}
	
}

// Mobile only
@include media-breakpoint-between(xs, md) {
	.navbar {
		.navbar-nav{

			.dropdown-menu{
				position:relative;
				float: none;

				background-color: $gray-lighter2;
				border: none;
			}
		}
	}
}


@include media-breakpoint-up(sm){

	.top-bar{
		.controls-list{
			width: auto;
			float:right;

			&>li{
				// default font size for all items
				font-size: .8rem;

				.fa{
					// icons should be slightly larger
					font-size: 1rem;
					line-height: .8rem;
				}
			}
		}
	}

}

@include media-breakpoint-up(md){
	.sticky {
		.header {
			.navbar {
				max-width: 690px;
				.navbar-brand {
					img {
						max-width: 70%;
					}
				}
				.navbar-toggler {
					top: .75rem;
				}
			}
		}
	}

	.top-bar {
		.list-inline {
			.list-inline-item {
				#login-change {
					a {
						span {
							display: inline-block;
						}
					}
				}
			}
		}
	}

	.header {
		padding-left: 15px;
		padding-right: 15px;

		.navbar {
			.navbar-brand {
				img {
					max-width: 100%;
				}
			}
			.navbar-toggler {
				top: 1.5rem;
			}
		}
	}
}

@include media-breakpoint-up(lg){

	.brand-wrapper{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	.navbar-nav{
		&>.nav-item{
			&>.nav-link{
				padding: $nav-link-padding;
			}
		}
	}
}

@include media-breakpoint-up(xl){
 	.sticky {
 		.header {
 			.navbar {
 				max-width: 1110px;
 			}
 		}
 	}
 }

.account-menu.dropdown-menu.dropdown-menu-right.small{
	min-width: 100%;
}
