<!-- styles -->
<!-- TODO: this is not the right place for including .css -->
<link rel="stylesheet" href="{{ plugin_path('Ceres') }}/css/MobileNavigation.css">

<!-- this is the actual fullscreen overlay -->
<div id="MobileNavigation" style="display:none">

	<div class="top-menu">
		<ul class="breadcrumb">
			<li transition="menu-item" v-for="item in getBreadcrumbItems(activeItem)" v-bind:key="item">
				<a href="#" v-on:click="triggerItem(item)">${ item.title }</a>
			</li>
		</ul>

		<a class="button-close" href="#" onclick="hideMobileNavigation()">X</a>
	</div>

	<ul class="menu">
		<li transition="menu-item" class="menu-item" v-for="item in getItemsByParentId(activeItem)" v-bind:key="item">
			<a href="#" v-on:click="triggerItem(item, true)">${ item.title }</a>
			<a class="dots" href="#" v-on:click="triggerItem(item)" v-if="itemHasChildren(item)">...</a>
		</li>
	</ul>

</div>

<!-- vue script -->
<!-- TODO: this is not the right place for including .js -->
<script src="{{ plugin_path('Ceres') }}/js/MobileNavigation.js"></script>
<script>
// we prevent this code from being executed multiple times (which actually happened while development)
// by using the "initialized" variable.
var initialized = false;
function initMobileNavigation() {
	if (initialized)
		return;
	// addItem() needs to be called for every item that should be visible in the navigation.
	// note: every item needs a unique ID!
	// TODO: use real items from CMS
	MobileNavigation.addItem('root', 'ROOT');

	MobileNavigation.addItem('sub-and-link', 'sub-and-link', 'root', '/foobar');
	MobileNavigation.addItem('item1', 'item1', 'sub-and-link', '/item1');
	MobileNavigation.addItem('item2', 'item2', 'sub-and-link', '/item2');

	MobileNavigation.addItem('sub-only', 'sub-only', 'root');
	MobileNavigation.addItem('subitem1', 'subitem1', 'sub-only', '/item1');
	MobileNavigation.addItem('subitem2', 'subitem2', 'sub-only', '/item2');

	MobileNavigation.addItem('subsub1', 'subsub1', 'subitem1', '/subsub1');
	MobileNavigation.addItem('subsub2', 'subsub2', 'subitem1', '/subsub2');

	MobileNavigation.addItem('link-only', 'link-only', 'root', '/link');

	MobileNavigation.setActiveItem('root');

	initialized = true;
}
initMobileNavigation();
</script>